In [3]:
#Find average of number?
list =[20,26,87,24,98]
sum = 0
for i in list:
    sum = sum + i
    print("sum = ", sum)
print("Avg = " ,sum/len(list))

sum =  20
sum =  46
sum =  133
sum =  157
sum =  255
Avg =  51.0

In [2]:
list =(20,26,87,24,98)
sum = 0
for i in list:
    sum = sum + i
    print("sum = ", sum)

sum =  20
sum =  46
sum =  133
sum =  157
sum =  255

In [3]:
## Program to print table of given number
n = int(input("enter the number "))
for i in range(1,11):
    mul = n * i
    print(mul)

enter the number  5

5
10
15
20
25
30
35
40
45
50

In [4]:
#Nested loop
company = ['Realme',"samsung","Iphone","Nokia"]
for i in company:
    print("The name of the company is " , i)
    for letter in i:
        print(letter)

The name of the company is  Realme
R
e
a
l
m
e
The name of the company is  samsung
s
a
m
s
u
n
g
The name of the company is  Iphone
I
p
h
o
n
e
The name of the company is  Nokia
N
o
k
i
a

In [5]:
#Program to display player who nhave scored goals
player_name = input("Enter player name")
goal = {"rehan" : 14,"ankit":3,"ali" : 45}
for player in goal:
    if player == player_name:
        print(goal[player])
        break
else:
    print("There is no such player")

Enter player name rehan

14

In [6]:
n = input("Enter the player name")
goal = {"rehan" : 14,"ankit":3,"ali" : 45}
for player in goal:
    if player ==n:
        print(goal[player])
        break
else:
    print("no player")

Enter the player name rehan

14

In [7]:
#cube of a number
list = [2,4,7,9]
cube = []
for i in list:
    cube.append(i**3)
print(cube)

[8, 64, 343, 729]

In [8]:
#Odd number:
num = int(input("enter the number"))
for i in range(num):
    if i% 2 == 1:
        print(num, "is odd number")
else:
    (num, "is even number")

enter the number 5

5 is odd number
5 is odd number

# Pattern

In [9]:
n = 5
for i in range(n):
    for j in range(n):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
# Increasing triangle pattern
n = 5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
# Deccreasing triangle pattern
n = 5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [12]:
# Right sided triangle
n = 5 
for i in range(n):
    for j in range(i,n):
        print(" ",end =' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [13]:
n = 5 
for i in range(n):
    for j in range(i+1):
        print(" ",end =' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [14]:
# while loop
name = ''
while name !="rehan":
    print("What is your name")
    name = input("Enter your name")
print("hello", name)

What is your name

Enter your name rehan

hello rehan

In [15]:
while True:
    print("What is your name")
    n = input("enter ur name")
    if n=="rehan":
        break
print("hello",n)

What is your name

enter ur name rehan

hello rehan

### Exercise 1: Print First 10 natural numbers using while loop

In [16]:
# For loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
#While loop
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern

In [25]:
n=4
for i in range(n+1):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
n=4
for i in range(n+1):
    for j in range(i+1,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [32]:
n=4
for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end=' ')
    print()

4
3 4
2 3 4
1 2 3 4

In [5]:
for i in range(5):
    for j in range(i +1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=4
for i in range(n+1):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

### Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [19]:
n = int(input("Enter the number"))
sum = 0
for i in range(1,n+1):
    sum+=i
print(sum)

Enter the number 15

120

### Exercise 5: Display numbers from a list using loop

In [20]:
#Write a program to display only those numbers from a list that satisfy the following conditions

#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

In [21]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i > 500:
        break
    elif i >150:
        continue
    elif i % 5 == 0:
        print(i)

75
150
145

In [22]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

# Exercise 6: Count the total number of digits in a number
### Write a program to count the total number of digits in a number using a while loop

In [ ]:
number = 75869
count = 0
while number!=0:
    number//10
    count+=1
print(number)

In [1]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

###  ex7-Write a program to use for loop to print the following reverse number pattern

In [6]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Exercise 8: Print list in reverse order using a loop

In [7]:
list = [10,20,30,40,50]
rev_list = reversed(list)
for i in rev_list:
    print(i)

50
40
30
20
10

### Exercise 11: Write a program to display all prime numbers within a range

In [13]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47